h1 {
  color: gray;
}
.weather_page{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
}
.line{
    margin-top: 30px;
    margin-bottom: 30px;
    border: 1px solid gray;
    width: 90vw;
}
.form_input{
    margin-top: 20px;
    margin-bottom: 20px;
}
input{
    border: 1px solid gray;
    padding: 8px;
    border-radius: 1rem;
}
button{
    cursor: pointer;
    border: 1px solid lightblue;
    background: lightblue;
    color:navy;
    border-radius: 1rem;
}
